
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.image_wrapper, .form_wrapper{
    height: 55vh;
}

.image_wrapper{
    overflow: hidden;
    border-radius: 10px 0px 0px 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.55);
    width: 35vw;
    clip-path: inset(-10px 0px -5px -10px);
    position: relative;
  
}

.image_wrapper img{
    filter: opacity(0.33);
    height: 100%;
    width: 100%;
}
.image_wrapper .text_wrapper{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:50%;
}
.image_wrapper p{
    font-size: 3rem;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 6rem;
}

.form_wrapper{
    border-radius: 0px 10px 10px 0px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.55);
    width: 20vw;
    letter-spacing: 0.1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}



.form_wrapper form{
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.registration form{
    height: 75%;
}

.form_wrapper h2{
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.form_wrapper a{
    font-weight: bold;
}

.form_wrapper button{
    cursor: pointer;
    background-color: var(--main-color);
    padding: 15px 25px;
    border: 0;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.form_wrapper label{
    margin-top: 20px;
}

.form_wrapper input{
    background-color: var(--input-color);
    padding: 15px 25px;
    border-radius: 10px;
    border: 0px;
    width: 100%;
    margin-top: 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.form_wrapper input:focus{
    outline: 0px;
    box-shadow: 0 0 1px 1px  var(--main-color); 
}

.message{
    background-color: var(--main-color);
    padding: 25px 10px;
    border-radius: 10px;
    color: white;
    position: absolute;
    bottom:2%;
    right:2%;
    visibility: hidden;
}

.message.visible{
    visibility: visible;
}

