
.wrapper_main{
    margin-left: var(--width);
    width: calc(100% - var(--width));
}

.header{
    height: 25vh;
    background-image: linear-gradient(rgba(255,255,255,0.67), rgba(255,255,255,0.67)), url('/public/img/car_logo.jpg');
    background-position: center;
    background-size: inherit;
    align-items: center;
    justify-content: center;
}

.form_wrapper{
    height: 90%;
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(14, 11, 11, 0.55);
    text-transform: uppercase;
    padding: 0 15px;
    justify-content: center;
    align-items: center;
}


.form_wrapper form{
    margin-top: 15px;
    height: 50%;
    width: 70%;
    justify-content: space-around;
}

.form_wrapper select{
    font-size: 1.2rem;
}

.form_wrapper button{
    padding: 5px 10px;
    font-size: 1.5rem;
    margin-top: 10px;
  }

select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--input-color);
}

.mainPage{
    max-height: 73vh;
    padding: 20px;
    text-align: center;
}

.mainPage h2{
    margin-top: 25px;
    font-size: 2.5rem;
}

.carsWrapper{
    padding: 20px 10px  ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    width: 100%;
    height: 100%;
    gap: 20px;
}

.carCard{
    overflow: hidden;
    width: 400px;
    display: flex;
    border: 1px solid black;
    border-radius: 10px;
    height: 250px;
}

.carCard .leftPart,.carCard .rightPart{
    width: 50%;
}

.carCard .leftPart {
    border-right: 2px solid black;
}

.carCard .leftPart img{
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.carCard .rightPart{
    background-color: #fff;
    justify-content: space-between;
    padding: 10px 5px;
}


.rightPart .buttonClass{
    margin-top: 0;
    font-size: 1.3rem;
    padding: 10px 5px;
}

.rightPart p{
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}


.rightPart i{
    margin-right: 20px;
    font-size: 1.5rem;
}

.rightPart .price{
    font-weight: bold;
    font-size: 1.4rem;
    align-self: center;
}

.rightPart .buttonClass a{
    display: block;
    color: white;
}

@media screen and (max-width:1500px){
    .carsWrapper{
        grid-template-columns: repeat(2,1fr);
    }

    .form_wrapper{
        width: 40%;
        font-size: 1.4rem;
    }

    .form_wrapper form{
        height: 70%;
    }

    .form_wrapper select{
        padding: 10px;
        font-size: 1rem;
    }
  

}

@media screen and (max-width:1024px){
    .carsWrapper{
        grid-template-columns: repeat(1,1fr);
    }

    .form_wrapper{
        width: 60%;
        font-size: 1.8rem;
    }
  
}

@media screen and (max-width:768px){
    .carCard{
        width: 300px;
        flex-direction: column;
        height: 250px;
    }
    
    .carCard .leftPart,.carCard .rightPart{
        width: 100%;
        height: 50%;
    }

    .carCard .leftPart img{
       width: 100%;
    }

    .carCard .leftPart{
        height: 35%;
        border-right: 0;
        border-bottom: 2px solid black;
    }

    .carCard .rightPart{
        height: 65%;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 5px;
    }

    .carCard h4{
        width: 100%;
        font-size: 1.2rem;
    }

    .carCard p, .carCard .buttonClass{
        width: 50%;
        font-size: 0.9rem;
    }

    .carCard .buttonClass{
        width: 55%;
    }

    .rightPart .price{
        width: 45%;
        font-size: 1.3rem;
    }

    .mainPage h2{
        margin-top: 15px;
        font-size: 1.5rem;
    }

    .wrapper_main{
        margin-left: 0;
        width: 100vw;
    }

    .header{
        height: 30vh;
    }

    .form_wrapper{
        height: 95%;
        width: 90%;
        font-size: 1.3rem;
        padding: 10px;
    }

    .form_wrapper form{
        margin-top: 10px;
        height: 90%;
        width: 80%;
    }


    .form_wrapper select{
        font-size: 1rem;
    }
}

@media screen and (max-width:544px) {
    .form_wrapper{
        width: 90%;
        font-size: 1.4rem;
    }
  } 

  @media screen and (max-width:460px){
    .form_wrapper{
        font-size: 1.2rem;
    }
}


.search{
    width: 60%;
}

.search form{
    flex-direction: row;
    width: 80%;
}



.search label input{
    margin-top: 10px;
    width: 50%;
    padding: 5px 10px;
}