
.wrapper_main{
    margin-left: var(--width);
    width: calc(100% - var(--width))
}


.header{
    height: 23vh;
    background-image: linear-gradient(rgba(255,255,255,0.67), rgba(255,255,255,0.67)), url('/public/img/car_logo.jpg');
    background-position: center;
    background-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form_wrapper{
    height: 85%;
    width: 20%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.55);
    text-transform: uppercase;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form_wrapper label{
    font-weight: 300;
    display: block;
}

.form_wrapper form{
    margin-top: 15px;
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.form_wrapper button{
    padding: 5px 10px;
    font-size: 1.5rem;
    margin-top: 10px;
  }


  #location_select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    background-color: var(--input-color);
}
